@model OnlineStore.Common.ViewModels.Category.CategoryDetailsViewModel

<div>
    <h3 class="text-center">@Model.Name</h3>
    <hr />
    <div class="container body-content">
        @foreach (var product in Model.Products)
        {
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="col-sm-12 container well">
                    <div>
                        <a asp-area=""
                           asp-controller="product"
                           asp-action="details"
                           asp-route-id="@product.Id">@product.Name</a>
                    </div>
                    <div class="pull-left">
                        <a asp-area=""
                           asp-controller="product"
                           asp-action="details"
                           asp-route-id="@product.Id">
                            <img class="img-thumb" src="@product.MainPictureUrl" />
                        </a>
                    </div>
                    <div class="pull-right">
                        <div>
                            Price: @product.Price.ToString("f2")
                        </div>
                        <div>
                            <form asp-area="" asp-controller="shopping" asp-action="addtocart" method="post">
                                <input name="productId" value="@product.Id" hidden />
                                <input name="returnUrl" value="/category/details/@Model.Id?pageIndex=@(((IPaginatedList)Model.Products).PageIndex)" hidden />
                                <input type="submit" class="btn btn-success" value="Add to cart" />
                            </form>
                        </div>
                        <div>
                            <a asp-area="" 
                            asp-controller="product" 
                            asp-action="details" 
                            asp-route-id="@product.Id" 
                            class="btn btn-primary">Details</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    @await Html.PartialAsync(
        WebConstants.PaginationPartialPath,
        new PaginationPartialViewModel(
            (IPaginatedList)Model.Products, this.ViewContext))

</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
